/* landing page style */
.landing-page {
  padding: 100px 0;
}
.l-page {
  background: linear-gradient(rgba(23, 67, 88, 0.5), rgba(23, 67, 88, 0.5)),
    url("./img/img_street/scenery1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 98%;
  height: 100vh;
  /* opacity: 0.6; */
  /* margin-left: 8%; */
}

/* sidebar */
.toggle {
  position: fixed;
  background: #fff;
  color: #000;
  z-index: 2000;
  display: block;
  padding: 0px;
  width: 50px;
  top: 5px;
  left: 5px;
  margin-left: 6px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  border-radius: 30px;
  box-shadow: 1px 0px 2px rgb(0 0 0 / 10%);
  line-height: 50px;
}
.sidebar {
  height: 100%;
  width: 257px;
  position: fixed;
  background: #222;
  top: 0;
  z-index: 1000;
  color: #fff;
}
.menu-h {
  background: #1a1a1a;
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  height: 60px;
  /* width: 190px; */
  font-size: 1.7rem !important;
  padding-top: 9px !important;
}
.menu {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.menu a {
  text-decoration: none;
  color: #fff;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.4rem;
  padding: 12px;
}
.info {
  text-align: center;
  justify-content: center;
}
.heading {
  color: #fff;
  opacity: 1;
  padding-top: 1.5rem;
  font-family: "Amiri", serif !important;
  font-family: "Didact Gothic", sans-serif;
}
.niche {
  text-align: center;
  font-size: 1.5rem;
  color: #e0e0e0;
  /* opacity: 1; */
}

.pipe {
  padding: 8px;
}
#wed:hover {
  color: #212121;
  opacity: 1;
}
#portrait:hover {
  color: #212121;
  opacity: 1;
}
#street:hover {
  color: #212121;
  opacity: 1;
}
.down-arr {
  /* position: absolute; */
  font-size: 2.5rem;
  /* justify-content: center; */
  /* margin: 1rem 20rem 5rem 46rem; */
  text-align: center;
  color: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.avatar {
  width: 270px;
  height: 270px;
  background-size: cover;
  border-radius: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 0px rgb(200 95 66 / 40%) inset,
    0px 0px 0px 16px rgb(255 255 255 / 45%) inset, 0px 1px 2px rgb(0 0 0 / 6%);
}
/* about me */
.propic {
  /* height: 2240px; */
  width: 100%;
}
.aboutme-info {
  margin-left: 1rem;
  font-family: Georgia, serif !important;
  color: #424242;
}
.social-container {
  text-align: center;
  padding: 1rem;
}
.social-container span {
  width: 50px;
  height: 50px;
  padding: 0.25rem;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  margin-left: 1rem;
  font-size: 1.5rem;
  margin-right: auto;
  margin-bottom: 10px !important;
  /* color: #fff; */
  border: 2px solid black;
  cursor: pointer;
}
.insta:hover {
  background-color: #ec407a;
  color: #ffffff !important;
}
.twi:hover {
  background-color: #2196f3;
  color: #ffffff !important;
}
.faceb:hover {
  background-color: #2196f3;
  color: #ffffff !important;
}
.yt:hover {
  background-color: #ff0000;
  color: #ffffff !important;
}
.workIDo {
  margin-top: 5%;
}

.img-grid {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0% 15%;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 1;
  width: 100%;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 120%;
  position: absolute;
  top: 0;
  /* left: 0; */
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.connect {
  justify-content: center;
  display: block;
  align-items: center;
}
#connect {
  width: 63%;
}

#connect form input {
  padding: 8px;
  width: 70%;
  margin: 10px 40% 0 28%;
  border: 1px solid green;
}
#connect form textarea {
  width: 70%;

  padding: 8px;
  margin: 10px 40% 0 28%;

  border: 1px solid green;
}
#connect form button {
  margin: 10px 40% 0 28%;
  /* background-color: #fff;
  color: #000; */
}
.con-info {
  display: block;
  text-align: center;
  margin: 40px 40% 10px 24%;
  width: 65%;
  /* padding: 10px; */
}
.footer {
  text-align: center;
  width: 100%;
  height: 70px;
  margin-top: 50px;
  background: #272727;
  color: #fff;
}
.footer-txt {
  top: 0;
  margin-bottom: 30px;
  display: block;
}
